@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400..900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
  --ff-body: 'Roboto', sans-serif;
  --ff-heading: 'Playfair Display', sans-serif;

  --fs-extra-large: ;
  --fs-large: ;
  --fs-medium: ;
  --fs-small: ;

  --clr-bg-main: ;
  --clr-bg-accent: ;
  --clr-text-heading-main: ;
  --clr-text-body-main: ;
  --clr-text-heading-accent: ;
  --clr-text-body-accent: ;
  --clr-icons: ;
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////////
                                            CSS RESET
///////////////////////////////////////////////////////////////////////////////////////////////////// */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}
