@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400..900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
  --ff-body: 'Roboto', sans-serif;
  --ff-heading: 'Playfair Display', sans-serif;

  --fs-extra-large: ;
  --fs-large: ;
  --fs-medium: ;
  --fs-small: 1rem;

  --clr-bg-main: #ffffff;
  --clr-bg-accent: #3c9dca;
  --clr-text-heading-main: #000000;
  --clr-text-body-main: #6b6b6b;
  --clr-text-heading-accent: #ffffff;
  --clr-text-body-accent: #ffffff;
  --clr-icons: #666666;
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////////
                                            CSS RESET
///////////////////////////////////////////////////////////////////////////////////////////////////// */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////////
                                            UTIL
///////////////////////////////////////////////////////////////////////////////////////////////////// */
body {
  font-family: var(--ff-body);
}

.wrapper {
  max-width: 1200px;
  margin-inline: auto;
}

.icons {
  max-width: 26px;
  cursor: pointer;
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////////
                                            HEADER
///////////////////////////////////////////////////////////////////////////////////////////////////// */

header {
  background-color: var(--clr-bg-accent);
  padding: 1.5rem;
  margin-block-end: 4rem;
}

.intro-img {
  position: relative;
  padding-inline: 0.5rem;
  margin-block-end: 2rem;
}

.name {
  position: absolute;
  bottom: 0;
  right: 50%;
  translate: 50% 0;
  color: var(--clr-text-heading-accent);
  font-family: var(--ff-heading);
  font-size: 4rem;
}

.info-heading {
  text-align: center;
  font-family: var(--ff-heading);
  margin-block-end: 0.825rem;
}

.info-body {
  margin-block-end: 0.825rem;
}

.header-icons {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
}
