@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400..900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
  --ff-body: 'Roboto', sans-serif;
  --ff-heading: 'Playfair Display', sans-serif;

  --fs-extra-large: 3.5rem;
  --fs-large: 1.8rem;
  --fs-medium: 1.25rem;
  --fs-small: 1rem;

  --clr-bg-main: #ffffff;
  --clr-bg-accent: #3c9dca;
  --clr-text-heading-main: #000000;
  --clr-text-body-main: #6b6b6b;
  --clr-text-heading-accent: #ffffff;
  --clr-text-body-accent: #ffffff;
  --clr-icons: #666666;

  --icon-size: 36px;
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////////
                                            CSS RESET
///////////////////////////////////////////////////////////////////////////////////////////////////// */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////////
                                            UTIL
///////////////////////////////////////////////////////////////////////////////////////////////////// */
body {
  font-family: var(--ff-body);
  font-size: var(--fs-small);
}

h2 {
  text-align: center;
  font-size: var(--fs-large);
}

h3 {
  font-size: var(--fs-medium);
}

.wrapper {
  max-width: 1200px;
  margin-inline: auto;
}

.icons {
  width: var(--icon-size);
  cursor: pointer;
}

.sub-heading {
  text-align: center;
  font-family: var(--ff-heading);
  margin-block-end: 0.825rem;
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////////
                                            HEADER
///////////////////////////////////////////////////////////////////////////////////////////////////// */

header {
  padding: 1.5rem;
  margin-block-end: 4rem;
  position: relative;
}

header::before {
  content: '';
  position: absolute;
  background-color: var(--clr-bg-accent);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: skewY(-25deg);
  translate: 0 -50%;
}

header > .wrapper {
  position: relative;
}

.intro-img {
  display: flex;
  justify-content: center;
  position: relative;
  padding-inline: 0.5rem;
  margin-block-end: 2rem;
}

.name {
  position: absolute;
  bottom: 0;
  right: 50%;
  translate: 50% 0;
  color: var(--clr-text-heading-accent);
  font-family: var(--ff-heading);
  font-size: var(--fs-extra-large);
}

.info-body {
  margin-block-end: 0.825rem;
}

.header-icons {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////////
                                        MAIN
///////////////////////////////////////////////////////////////////////////////////////////////////// */

main {
  padding-inline: 1.5rem;
  margin-block-end: 4rem;
}

main > .wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.projects {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
}

.project-info {
  padding: 1rem;
}

.project-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block-end: 1rem;
}

.card {
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  box-shadow: 2px 2px 5px 5px #00000031;
}

.card .icons {
  width: 24px;
}

.project-icons {
  display: flex;
  gap: 1rem;
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////////
                                        FOOTER
///////////////////////////////////////////////////////////////////////////////////////////////////// */

footer {
  background-color: var(--clr-bg-accent);
  color: var(--clr-text-body-accent);
}

.contact {
  padding-inline: 1.5rem;
  padding-block: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.footer-icons {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

@media (min-width: 480px) {
  .projects {
    grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
  }
}
